<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Limboyy</title>
    <script src="/static/bootstrap-3.3.7-dist/js/jquery-1.12.4.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <style type="text/css">
    	p {
    		
    		padding-left: 200px;
			max-width: 1200px;
			overflow-wrap: break-word;
			white-space: pre-wrap;
    	}
    </style>
    <script type="text/javascript">
	    function GetRequest() {  
	       var url = location.search;
	       var theRequest = new Object();  
	       if (url.indexOf("?") != -1) {  
	          var str = url.substr(1);  
	          strs = str.split("&");  
	          for(var i = 0; i < strs.length; i ++) {  
	             theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);  
	          }  
	       }  
	       return theRequest;  
	    };

      $(function(){
		var a=GetRequest();

		$('.p_text').click(function(){
			$('#myModal').modal('show');
			var textModel = $('.text');
			var this_text = $(this).text();
			var text_id = $(this).attr("text-id");
			textModel.val(this_text);
			textModel.attr({"text-id": text_id});
		});

		$('#showModel').click(function(){
			var textModel = $('.text');
			textModel.val("")
			textModel.attr({"text-id": ""});
		});

        $('.submit').click(function(){
          var text = $('.text').val();
          $.ajax({
            url: "/index/index_next/",
            data: {
            	text_id: $('.text').attr('text-id'),
				text: text,
				imgPath: "None",
				id: a['id'],
            },
            type: "POST",
            dataType: "json",
            success: function(data) {
              if(data['status'] == "True"){
                window.location.reload();
              }
            },
          });
        });

        $('.submit3').click(function(){
            chose = "";
            $.each($('input:checkbox:checked'),function(){
                console.log($(this).val());
                chose = chose + ", " + $(this).val();
            });
            console.log(chose);
            $.ajax({
            	url: "/index/liwuchose/",
				data: {
					chose: chose,
				},
				type: "POST",
				dataType: "json",
				success: function(data) {
				  if(data['status'] == "True"){
					window.location.reload();
				  }
				},
          });
        });


        $('.button4').click(function(){
          $.ajax({
            url: "/index/button/",
            data: {
            	button: "如果你还有犹豫，就不要点这个",
            	k: 4,

            },
            type: "POST",
            dataType: "json",
            success: function(data) {
            	window.location.reload();
            },
          });
        });

        $('.button2').click(function(){
          $.ajax({
            url: "/index/button/",
            data: {
            	button: "让他再丢一会儿",
            	k: 2,
            },
            type: "POST",
            dataType: "json",
            success: function(data) {
            	window.location.reload();
            },
          });
        });
        $('.button3').click(function(){
          $.ajax({
            url: "/index/button/",
            data: {
            	button: "不要了，丢远点",
            	k: 3,
            },
            type: "POST",
            dataType: "json",
            success: function(data) {
            	window.location.reload();
            },
          });
        });
        $('.button1').click(function(){
          $.ajax({
            url: "/index/button/",
            data: {
            	button: "要要要要要",
            	k: 1,
            },
            type: "POST",
            dataType: "json",
            success: function(data) {
            	window.location.reload();
            },
          });
        });
      })
    </script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Limboyy</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'index' %}">首页<span class="sr-only">(current)</span></a></li>
					<li><a href="#">网站介绍</a></li>
					<li><a href="#">联系作者</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="page-header">
		<h1 class="text-center"><small>做一个安静的倾诉者</small></h1>
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default btn-primary" id="showModel"  data-toggle="modal" data-target="#myModal">分享你的故事</button>
		</div>
	</div>


	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">分享你的故事</h4>
			</div>


			<div class="modal-body">
				<div class="form-group" style="margin: 0px;">
					<textarea class="form-control text" rows="6"  placeholder="请输入"></textarea>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary submit">提交</button>
			</div>
		</div>

		</div>
	</div>


	<div>
		{% for text in textAll %}
		    <p class="lead p_text" text-id="{{ text.id }}">{{ text.text }}</p>
		{% endfor %}
	</div>

	<div class="btn-group" role="group" aria-label="...">
		<button type="button" class="btn btn-default btn-primary" id="showModel2"  data-toggle="modal" data-target="#myModal2">点击可能会有惊喜</button>
	</div>

	<div class="btn-group" role="group" aria-label="...">
		<button type="button" class="btn btn-default btn-primary" id="showModel3"  data-toggle="modal" data-target="#myModal3">平安夜，圣诞节惊喜</button>
	</div>

	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="thumbnail", style="width: 400px, text-align:center">
					<img src="/static/image/aaaaa.png" class="">
				</div>
				<div class="btn-group" role="group" aria-label="..." style="text-align:center">
				  <button type="button" class="btn btn-default button1" title="有惊喜">要要要要要</button>
				  <button type="button" class="btn btn-default button2" title="还能等">让他再丢一会儿</button>
				  <button type="button" class="btn btn-default button3" title="有点难熬">丢远点，不要了</button>
					<button type="button" class="btn btn-default button4" title="祝好">如果你还有犹豫，就不要点这个</button>
				</div>
			</div>

		</div>
	</div>

	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="btn-group" role="group" aria-label="..." style="text-align:center">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabe3">这是一个多选</h4>
					</div>
					<form>
						<input type="checkbox" name="items" value="苹果" style="width: 110px" />苹果
						<input type="checkbox" name="items" value="花" style="width: 110px" />花
						<input type="checkbox" name="items" value="巧克力" style="width: 110px" />巧克力
						<input type="checkbox" name="items" value="外卖" style="width: 110px" />外卖
					</form>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary submit3">提交</button>
					</div>
				</div>
			</div>

		</div>
	</div>



</body>
</html>
