<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Limboyy</title>
    <script src="/static/bootstrap-3.3.7-dist/js/jquery-1.12.4.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <style type="text/css">
        .imageWH {
            width: 252.5px;
            height: 142.03px;
        }
    </style>

    <script type="text/javascript">
        $(function(){
            $('.submit').click(function(){
                var uName = $('#uName').val();
                var key = $('#key').val();
                var imply = $('#imply').val();
                $.ajax({
                    url: "/index/",
                    data: {
                    uName: uName,
                    key: key,
                    imply: imply,
                    },
                    type: "POST",
                    dataType: "json",
                  success: function(data) {
                      if(data['status'] == "True"){
                          window.location.href="/index/index_next/?id=" + data["id"];
                          }
                      },
                  });
              });

            $('.imageClick').click(function(){
                var textModel = $('#otherUser')
                textModel.modal('show');
                var title_imply = $(this).attr('title-imply');

                var title_id = $(this).attr('title-id');
                $('#h4_imply').attr({"title-id": title_id});

                $('#h4_imply').html(title_imply);
            });


            $('.otherSubmit').click(function(){
                var obj = $('#h4_imply');
                var title_id = obj.attr("title-id");
                var title_key = $('#otherKey').val();
                var postData = {
                  'title_id': title_id,
                  'title_key': title_key,
                };
                $.ajax({
                    url: "/index/keyIf/",
                    data: postData,
                    type: "POST",
                    dataType: "json",
                    success: function(res){
                        if(res['status'] == 'True'){
                          window.location.href = res['url'];
                        } else {
                          console.log('aaaa')
                        }
                    }
                });

            });

        })


</script>
</head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Limboyy</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'index' %}">首页<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">网站介绍</a></li>
                        <li><a href="#">联系作者</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="page-header">
            <h1 class="text-center"><small>做一个倾听者和倾诉者</small></h1>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-primary" data-toggle="modal" data-target="#myModal">写下你的故事</button>
            </div>
        </div>


        <div class="modal fade" id="otherUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="otherModalLabel">想看他(她)的故事吗</h4>
                    </div>


                    <h4 class="text-center" id="h4_imply"></h4>


                    <div class="col-sm-offset-3 col-sm-6">
                        <input type="password" class="form-control" id="otherKey" placeholder="看懂了他(她)的提示吗">
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary otherSubmit">提交</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">分享你的故事</h4>
                    </div>

                    <div class="col-sm-offset-3 col-sm-6">
                        <input type="text" class="form-control" id="uName" placeholder="请输入你的名字">
                    </div>
                    <div class="col-sm-offset-3 col-sm-6">
                        <input type="password" class="form-control" id="key" placeholder="请输入你的密码">
                    </div>
                    <div class="col-sm-offset-3 col-sm-6">
                        <input type="text" class="form-control" id="imply" placeholder="请输入你的密码提示">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary submit">提交</button>
                    </div>
                </div>
            </div>
        </div>



      <div class="container">
        <div class="row">
            {% for title in titleAll %}
                <div class="col-lg-3">
                    <div class="thumbnail">
                        <img title-imply="{{ title.imply }}" title-id="{{ title.id }}" src="/static/image/1001776.jpg" class="imageWH imageClick">
                        <h4>{{ title.uName }}  <small>{{ title.dateTime }}</small></h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
